.popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  display: flex;
}

.popup__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 465px;
  position: relative;
}

.popup__button {
  cursor: pointer;
  background: none;
  border: none;
}

.popup__button_close,
.popup__button_closecre {
  align-self: flex-end;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popup__form {
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
}

.popup__title {
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  width: 330px;
  margin: 0 36px;
  padding: 34px 0 54px;
}

.popup__content {
  width: 360px;
  margin: auto;
  border: 0;
  padding: 0;
}

.popup__input {
  width: 100%;
  border: 0;
  margin-bottom: 30px;
  color: #000000;
  border-bottom: 1px solid #c4c4c4;
}

.popup__container-image {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  max-height: 75vh;
}

.popup__container-image .popup__button_close {
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__image-pic {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.popup__image-caption {
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 15px;
  margin-top: 10px;
  text-align: left;
}

.popup__error {
  display: none;
  color: #ff0000;
  font-size: 12px;
  line-height: 15px;
  margin-top: -20px;
  margin-bottom: 15px;
}

.popup__input_type_error,
.popup__input_error {
  border-bottom: 1px solid #ff0000;
}

.popup__error_visible,
.popup__span_error {
  display: block;
}

.popup__button_created,
.popup__button_save {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin-bottom: 40px;
  transition: opacity 0.3s ease;
}

.popup__button_edit {
  padding: 0;
  margin-left: 17px;
}

.popup__button_trash {
  width: 18px;
  height: 19px;
  position: absolute;
  right: 15px;
  top: 18px;
  padding: 0;
}

.popup__button_save:hover,
.popup__button_created:hover,
.popup__button:hover,
.popup__button_close:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__button_disabled,
.popup__button_save:disabled,
.popup__button_created:disabled {
  background-color: #f5f5f5;
  opacity: 0.2;
  color: #000000;
  cursor: not-allowed;
}

/* RESPONSIVE DESIGN (MEDIA QUERIES) */
@media screen and (min-width: 320px) and (max-width: 465px) {
  .popup__container {
    width: 282px;
  }

  .popup__button_close {
    width: 26px;
    height: 26px;
    margin-bottom: 14px;
    padding: 0;
  }

  .popup__container-image .popup__button_close {
    top: -35px;
    right: 0;
  }

  .popup__icon-close {
    width: 100%;
  }

  .popup__form {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }

  .popup__title {
    font-size: 18px;
    width: 238px;
    margin: 0 auto;
    padding: 24px 0 76px;
  }

  .popup__content {
    width: 238px;
  }
}
